@import url(https://fonts.googleapis.com/css?family=Dosis);

/* NOTE: */

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover,
    {
    text-decoration: underline;
}


html,
body {
    position: absolute;
    /* -webkit-anti */
    font-family: 'Dosis', cursive !important;
}

/*--Header--*/

header {
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.0);
    display: block;
    font-size: 0.9em;
    height: 1.3em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 777;
  }

.splashBox {
    z-index: 777;
    position: fixed;
    top: 50%;
    left: 53%;
    margin-top: -50px;
    margin-left: -100px;
    width: 60px;
    transform-origin: center;
    transform: scale(1.00005);
    /* hack Firefox smooth edge */

}

/* ------- */

.body-pulse {
    animation: body-pulse 3.3s infinite;
}

/* Animations */

/* NOTE: The Pulse Animation */

@-webkit-keyframes body-pulse {
    0% {
        background-color: #1A0317;
        filter: brightness(100%);
    }

    30% {
        background-color: #fff;
        filter: brightness(130%);
    }

    70% {
        background: black;
        filter: brightness(210%);
    }

    90% {
        background: #1A0317;
        filter: brightness(210%);
    }

    101% {
        background: black;
        filter: brightness(310%);
    }
}