---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Nelumbo from "@components/Nelumbo.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("petals")).filter((p) => !p.data.draft);
---

<Layout title="Petals">
  <head>
    <meta name="pagefind:filter" content="nav" />
  </head>
  <Container>
    <div class="game-container" data-pagefind-body>
      <Nelumbo posts={posts} />
    </div>
  </Container>
</Layout>
