@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%; /* Pitch black */
    --foreground: 0 0% 98%; /* Ghostwhite */

    --card: 0 0% 3%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  .light {
    --background: 0 0% 98%; /* Ghostwhite */
    --foreground: 0 0% 0%; /* Pitch black */

    --card: 0 0% 98%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 98%;
    --popover-foreground: 0 0% 0%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 93%;
    --secondary-foreground: 0 0% 0%;

    --muted: 0 0% 93%;
    --muted-foreground: 0 0% 40%;

    --accent: 0 0% 93%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 85%;
    --input: 0 0% 85%;
    --ring: 0 0% 0%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  overflow-y: auto;
  scroll-padding-top: 100px;
}

html,
body {
  @apply size-full;
}

body {
  @apply flex flex-col font-sans antialiased;
}

header {
  @apply fixed left-0 right-0 top-0 z-50 h-7 bg-background/70 py-7 saturate-200 backdrop-blur-sm;
}

main {
  @apply flex-1 py-32;
}

footer {
  @apply py-6 text-sm;
}

article {
  @apply prose prose-neutral prose-invert max-w-full prose-img:mx-auto prose-img:my-auto;
  @apply prose-headings:font-semibold;
}

@layer utilities {
  article a {
    @apply font-sans text-current underline underline-offset-[3px];
    @apply decoration-primary/30;
    @apply transition-colors duration-300 ease-in-out;
  }
  article a:hover {
    @apply text-primary;
    @apply decoration-primary/50;
  }
}

.root {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  top: 50%;
  left: 50%;
}

.animate {
  @apply -translate-y-3 opacity-0;
  @apply transition-all duration-300 ease-out;
}

.animate.show {
  @apply translate-y-0 opacity-100;
}

html #back-to-top {
  @apply pointer-events-none opacity-0;
}

html.scrolled #back-to-top {
  @apply pointer-events-auto opacity-100;
}

pre {
  @apply border border-primary/15 py-5;
}

:root {
  --astro-code-color-text: theme("colors.foreground");
  --astro-code-color-background: theme("colors.background");
  --astro-code-token-comment: #a19595;
  --astro-code-token-keyword: #f47067;
  --astro-code-token-string: #00a99a;
  --astro-code-token-function: #6eafad;
  --astro-code-token-constant: #b3cceb;
  --astro-code-token-parameter: #4e8fdf;
  --astro-code-token-string-expression: #bf7db6;
  --astro-code-token-punctuation: #8996a3;
  --astro-code-token-link: #8d85ff;
}

.light {
  --astro-code-color-text: theme("colors.foreground");
  --astro-code-color-background: theme("colors.background");
}
