---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import BackToPrevious from "@components/BackToPrevious.astro";
import { SITE } from "@consts";
import Quasar from "@components/Quasar.astro";
---

<Layout title="404" description={SITE.DESCRIPTION}>
  <Container>
    <Quasar />
    <div class="root mt-16 grid place-items-center gap-3">
      <div>
        <span class="animate font-semibold">
          <BackToPrevious href="/"> 404: Error </BackToPrevious>
        </span>
      </div>
    </div>
  </Container>
</Layout>
