---
// src/components/embed-spot.astro
const { theme = "dark" } = Astro.props;
---

<div class="spotify-embed">
  <iframe
    style="border-radius:12px"
    src="https://open.spotify.com/user/12161931859?si=39feca4257194dff?utm_source=generator&theme={theme}"
    width="100%"
    height="152"
    frameborder="0"
    allowfullscreen
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>
</div>

<style>
  .spotify-embed {
    max-width: 100%;
    overflow: hidden;
  }
</style>
