---
import { SITE } from "@consts";
import Container from "@components/Container.astro";
import BackToTop from "@components/BackToTop.astro";
import ThemeSwitch from "@components/ThemeSwitch.astro";
---

<footer class="animate">
  <Container class="footer-container">
    <div class="footer-content relative">
      <div class="absolute -top-12 right-0">
        <BackToTop />
      </div>
    </div>
    <div class="flex items-center justify-between">
      <div>
        <a href="/about">
          {SITE.TITLE} | ­ЪФђ Рђб ­ЪФЂ Рђб ­ЪДа |
        </a>
        &copy; {new Date().getFullYear()}
      </div>
      <ThemeSwitch />
      <!-- -->
    </div>
  </Container>
</footer>
