<div class="giscus"></div>

<script
  src="https://giscus.app/client.js"
  data-repo="sourceaura/sourceaura.github.io"
  data-repo-id="MDEwOlJlcG9zaXRvcnkyMDg2Nzg2NjY="
  data-category="Show and tell"
  data-category-id="DIC_kwDODHAvCs4Cgi0j"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="transparent_dark"
  data-lang="en"
  crossorigin="anonymous"
  async></script>

<style>
  .giscus {
    --color-primary: #ff5733;
    --color-secondary: #333;
    --background-color: transparent !important;
    --border-color: rgba(224, 224, 224, 0.3);
  }

  .giscus-frame {
    background-color: transparent !important;
  }

  .giscus .gsc-comment {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.1) !important;
  }

  .giscus .gsc-comment-author {
    font-weight: bold;
    color: var(--color-primary);
  }

  @media (prefers-color-scheme: dark) {
    .giscus {
      color: ghostwhite !important;
    }
  }

  @media (prefers-color-scheme: light) {
    .giscus {
      color: black !important;
    }
  }
</style>
