---
import SysInfo from "@components/SysInfo.astro";
import Container from "@components/Container.astro";
// import { SITE } from "@consts";
---

<header transition:persist class="py-4">
  <Container>
    <div class="flex h-full items-center justify-between">
      <a
        aria-label=" {SITE.ALIAS} "
        class="flex items-center rounded border border-black/15 bg-transparent px-2 py-1 text-xs font-semibold transition-colors duration-300 hover:bg-black/5 dark:border-white/20 dark:bg-neutral-900 dark:hover:bg-white/5"
        onclick="
          event.preventDefault();
          window.openPagefind
            ? window.openPagefind()
            : window.dispatchEvent(new Event('open-pagefind'));
        "
      >
        <button
          id="ase"
          href="#"
          type="button"
          aria-label="Open search"
          class="text-sm opacity-80 transition hover:opacity-100"
        >
          <!-- &nbsp;{SITE.ALIAS}&nbsp; -->
          <div class="select-none text-xs">sourceaura</div>
        </button>
      </a>
      <!-- CENTER: OPTIONAL BRAND / LOGO -->

      <nav class="flex items-center gap-1 text-sm">
        <SysInfo />
      </nav>
    </div>
  </Container>
</header>

<script>
  // HARD NAVIGATION — NOT BUBBLE-DEPENDENT
  // document.getElementById("ase")?.addEventListener("click", () => {
  //   window.location.href = "/";
  // });
</script>
