---
type Props = {
    href: string;
};

const { href } = Astro.props;
---
<!-- Wrap the link in a container div for better styling control -->
<div class="link-container">
    <a href={href} class="seed">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="2.1em"
            height="2.1em"
            viewBox="0 0 24 24"
        >
            <defs>
                <clipPath id="lineMdWatchLoop0">
                    <rect width="24" height="12"></rect>
                </clipPath>
                <symbol id="lineMdWatchLoop1">
                    <path
                        fill="none"
                        stroke="#fff"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M23 16.5C23 10.4249 18.0751 5.5 12 5.5C5.92487 5.5 1 10.4249 1 16.5z"
                        clip-path="url(#lineMdWatchLoop0)"
                    >
                        <animate
                            attributeName="d"
                            dur="3.78s"
                            keyTimes="0;0.07;0.93;1"
                            repeatCount="indefinite"
                            values="M23 16.5C23 11.5 18.0751 12 12 12C5.92487 12 1 11.5 1 16.5z;M23 16.5C23 10.4249 18.0751 5.5 12 5.5C5.92487 5.5 1 10.4249 1 16.5z;M23 16.5C23 10.4249 18.0751 5.5 12 5.5C5.92487 5.5 1 10.4249 1 16.5z;M23 16.5C23 11.5 18.0751 12 12 12C5.92487 12 1 11.5 1 16.5z"
                        >
                        </animate>
                    </path>
                </symbol>
                <mask id="lineMdWatchLoop2">
                    <use href="#lineMdWatchLoop1"></use>
                    <use href="#lineMdWatchLoop1" transform="rotate(180 12 12)"></use>
                    <circle cx="12" cy="12" r="0" fill="#fff">
                        <animate
                            attributeName="r"
                            dur="3.78s"
                            keyTimes="0;0.03;0.97;1"
                            repeatCount="indefinite"
                            values="0;3;3;0"
                        >
                        </animate>
                    </circle>
                </mask>
            </defs>
            <rect
                width="24"
                height="24"
                fill="currentColor"
                mask="url(#lineMdWatchLoop2)"
            >
            </rect>
        </svg>
    </a>
</div>

<style>
.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Adjust the following properties as needed for your layout */
    width: 100%;
    height: 100%;
}

.seed {
    display: inline-block;
}
</style>
