---
import Head from "@components/Head.astro"
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
import PageFind from "@components/PageFind.astro"
import Qi from "@/components/Qi.astro"
import Quasar from "@components/Quasar.astro"
import { SITE } from "@consts"

// 👇 optional navigation props
const { title, description, prev, next } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.TITLE}`} description={description} />
  </head>

  <body>
    <Quasar />
    <Qi />

    <Header />

    <main>
      <slot />
    </main>

    <Footer />
    <PageFind />

    {prev || next ? (
      <script
        define:vars={{ prev, next }}
        type="module"
      >
        import { attachPostNavigation } from "/src/utils/postNavigator"

        attachPostNavigation({ prev, next })
      </script>
    ) : null}
  </body>
</html>
