---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageFind from "@components/PageFind.astro";
import { SITE } from "@consts";
import Qi from "@/components/Qi.astro";
import Quasar from "@components/Quasar.astro";

type Props = {
  title: string;
  description: string;
  bodyData?: Record<string, string>;
};

const { title, description, bodyData } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.TITLE}`} description={description} />
  </head>

  <body {...bodyData}>
    <Quasar />
    <Qi />

    <Header />
    <main>
      <slot />
    </main>
    <Footer />

    <PageFind />
  </body>
</html>
