---
import Layout from "@layouts/Layout.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<Layout
  title={title}
  description={description}
  bodyData={{ "data-view": "petal" }}
>
  <main class="content-wrapper">
    <slot />
  </main>
</Layout>
