---
import testImage from './test.png';
---

---



I've decided to challenge myself. Life's been a bit hectic here lately.

But with the world's dusts settling slightly per say I feel compelled to redouble both my aspirations and my efforts toward them. 

Code. Create. Repeat. ^_^
--- 
<button
  onclick="alert(`You clicked the button!`)"
  class="border border-black/10 p-2 transition-colors duration-300 ease-in-out hover:bg-black/5 dark:border-white/10 dark:hover:bg-white/10"
>
  Relative Button
</button>d
